.badge {
    position: absolute;
    top: -15px;
}

.nav-tabs .nav-item .nav-link.active {
    background-color: #007bff;
    color: #fff;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 1.25rem;
    color: inherit;
    cursor: pointer;
    border: none;
    background: none;
}
