<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Audio Steganography</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
  </head>

  <body class="bg-light">
    <div class="container mt-3">
      <header class="d-flex justify-content-between align-items-center">
        <div>
          <h1>Audio Steganography</h1>
        </div>

        <div>
          <a
            href="https://github.com/tranlequocthong313/audio_steganography"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="https://img.icons8.com/material-outlined/64/000000/github.png"
              alt="GitHub Repository"
              width="30"
              height="30"
            />
          </a>
        </div>
      </header>

      <ul class="nav nav-tabs mt-2 mb-3">
        <li class="nav-item">
          <a
            class="nav-link {% if active_tab == 'embed' %}active{% endif %}"
            href="/embed"
            >Embed</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if active_tab == 'extract' %}active{% endif %}"
            href="/extract"
            >Extract</a
          >
        </li>
      </ul>

      <h3>{%block title%}{% endblock %}</h3>

      <div class="alert alert-info">
        <p>{% block description %} Mo ta {%endblock%}</p>
      </div>

      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div
        class="alert alert-{{category}} alert-dismissible fade show"
        role="alert"
      >
        {{message}}
        <button type="button" data-bs-dismiss="alert" class="close-button">
          &times;
        </button>
      </div>
      {% endfor %} {% endif %} {% endwith %}

      <div class="container">{% block content %} {% endblock %}</div>
    </div>

    <footer class="mt-5 text-center">
      <hr />
      <p>&copy; 2023 Audio Steganography. All rights reserved.</p>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
  </body>
</html>
